In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf
import matplotlib.pyplot as plt

In [61]:
df = pd.read_csv("Corona_NLP_train.csv")
df.head()

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
0,3799,48751,London,16-03-2020,@MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...,Neutral
1,3800,48752,UK,16-03-2020,advice Talk to your neighbours family to excha...,Positive
2,3801,48753,Vagabonds,16-03-2020,Coronavirus Australia: Woolworths to give elde...,Positive
3,3802,48754,NaN,16-03-2020,My food stock is not the only one which is emp...,Positive
4,3803,48755,NaN,16-03-2020,"Me, ready to go at supermarket during the #COV...",Extremely Negative

In [63]:
df = df[["OriginalTweet","Sentiment"]]
df.head()

                                       OriginalTweet           Sentiment
0  @MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...             Neutral
1  advice Talk to your neighbours family to excha...            Positive
2  Coronavirus Australia: Woolworths to give elde...            Positive
3  My food stock is not the only one which is emp...            Positive
4  Me, ready to go at supermarket during the #COV...  Extremely Negative

In [43]:
print(df)

                                           OriginalTweet           Sentiment
0      @MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...             Neutral
1      advice Talk to your neighbours family to excha...            Positive
2      Coronavirus Australia: Woolworths to give elde...            Positive
3      My food stock is not the only one which is emp...            Positive
4      Me, ready to go at supermarket during the #COV...  Extremely Negative
...                                                  ...                 ...
41152  Airline pilots offering to stock supermarket s...             Neutral
41153  Response to complaint not provided citing COVI...  Extremely Negative
41154  You know itÂ’s getting tough when @KameronWild...            Positive
41155  Is it wrong that the smell of hand sanitizer i...             Neutral
41156  @TartiiCat Well new/used Rift S are going for ...            Negative

[41157 rows x 2 columns]

In [65]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41157 entries, 0 to 41156
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   OriginalTweet  41157 non-null  object
 1   Sentiment      41157 non-null  object
dtypes: object(2)
memory usage: 643.2+ KB

In [67]:
df["Sentiment"].unique()

array(['Neutral', 'Positive', 'Extremely Negative', 'Negative',
       'Extremely Positive'], dtype=object)

In [69]:
df["Sentiment"].unique()
df.loc[df['Sentiment'] == 'Neutral', 'Sentiment'] = 0.astype(int)
df.loc[df['Sentiment'] == 'Positive', 'Sentiment'] = 1.astype(int)
df.loc[df['Sentiment'] == 'Extremely Positive', 'Sentiment'] = 2.astype(int)
df.loc[df['Sentiment'] == 'Negative', 'Sentiment'] = -1.astype(int)
df.loc[df['Sentiment'] == 'Extremely Negative', 'Sentiment'] = -2.astype(int)
df["Sentiment"].unique()

SyntaxError: invalid decimal literal (3960243106.py, line 2)

In [57]:
df

                                           OriginalTweet Sentiment
0      @MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...         0
1      advice Talk to your neighbours family to excha...         1
2      Coronavirus Australia: Woolworths to give elde...         1
3      My food stock is not the only one which is emp...         1
4      Me, ready to go at supermarket during the #COV...        -2
...                                                  ...       ...
41152  Airline pilots offering to stock supermarket s...         0
41153  Response to complaint not provided citing COVI...        -2
41154  You know itÂ’s getting tough when @KameronWild...         1
41155  Is it wrong that the smell of hand sanitizer i...         0
41156  @TartiiCat Well new/used Rift S are going for ...        -1

[41157 rows x 2 columns]

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41157 entries, 0 to 41156
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   OriginalTweet  41157 non-null  object
 1   Sentiment      41157 non-null  object
dtypes: object(2)
memory usage: 643.2+ KB

In [73]:
df['Sentiment'] = df['Sentiment'].astype(int)

ValueError: invalid literal for int() with base 10: 'Neutral'

In [75]:
df["Sentiment"][0]

'Neutral'